*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #f3efef;
}

.content{
    background-color: #f3efef;
    padding-bottom: 1rem;
}

.top-content{
    background-color: #7AC74C;
    padding: 1rem;
    height: 320px;
}

.top-content .back-heart{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.top-content .back-heart .back,
.top-content .back-heart .heart{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: #f4f4f4;
}

.pokemon {
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.pokemon .name-number{
    padding: 0 .25rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.pokemon .name-number .name{
    font-size: 1.825rem;
    font-weight: 600;
}

.pokemon .name-number .number{
    font-size: 1rem;
    font-weight: 600;
}

.pokemon .detail {
    display: flex;
    flex-direction: column;
}

.pokemon .detail .types{
    display: flex;
    flex-direction: row;
    padding: 0 .25rem;
    gap: .25rem;
}

.pokemon .detail .types .type {
    color: #f4f4f4;
    margin: .25rem 0 1.5rem 0;
    padding: .25rem .5rem;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.img-btn{
    background-color: #f3efef;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-top: -2rem;
}

.img-btn img{
    margin-top: -8rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 150px;
    align-self: center;
}

.img-btn .title-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1rem;
    font-size: .825rem;
    height: 50px;
}

.img-btn .title-info .title{
    border: none;
    background-color: transparent;
    color: #939393;
}

.img-btn .title-info .title:hover{
    color: black;
}

.img-btn .title-info .title:focus{
    font-weight: 500;
    color: black;
    text-decoration: underline rgb(6, 6, 202) 2px;
    text-underline-offset: 1rem;
}

.info-about,
.info-base-stats{
    padding: 0 1.2rem;
}
.info-about h2,
.info-base-stats h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.2rem 0;
    padding: 0 .5rem;
}

.info-about .properties-about,
.info-base-stats .properties{
    display: flex;
    flex-direction: column;
}

.info-about .properties-value,
.info-base-stats .properties-value{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-bottom: 1rem;
}

.info-about .properties-value .propertie,
.info-base-stats .propertie{
    color: #939393;
    font-size: 1rem;
}

.info-about .properties-value .value{
    color: #000000;
    font-size: 1rem;
}

.info-about .properties-value .gender{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.info-about .properties-value .gender .gender-info{
    display: flex;
    flex-direction: row;
    gap: .625rem;
}

.info-about .properties-value .gender .gender-info .icon-value{
    color: blue;
}

@media screen and (min-width: 992px) {
    body{
        background-color: #d8d8d8;
    }
    .content{
        max-width: 600px;
        height: 750px;
        margin: 2rem auto;
        border-radius: 1rem;
    }
    .top-content{
        border-radius: 1rem 1rem 0 0;
    }
}